.no-bullets li {
  list-style-type: none;
}

.caption-container {
  position: relative;
}

.img-captioned {
  width: 100%;
  vertical-align: top;
}

.caption {
  position: absolute;
  padding: 0.5em 1em;
  bottom: 0px;
  right: 0px;
  color: white;
  background: black;
  opacity: 0.7;
  border-radius: 0.5em 0em 0em 0em;
}

.navbar-shadow {
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.11);
}

html, body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body > footer {
  margin-top: auto;
}
