{% extends "base.html" %}
{% block content %}
<section class="section">
    <div class="container">
        <div class="columns is-desktop">
            <div class="column is-10 is-offset-1">
                <div class="columns is-desktop">
                    <div class="column is-one-third-desktop">
                        <div class="box has-text-centered">
                            <figure class="image is-192x192 is-centered is-inline-block">
                                <img class="is-rounded" src="{{ config.extra.portrait | safe }}">
                            </figure>
                            <div class="is-size-3 content"><strong>{{ config.extra.author }}</strong></div>
                            <div class="is-size-5">{{ config.extra.role }}</div>
                            {% for organization in config.extra.organizations %}
                            <div class="is-size-5 content">{{ organization.name }}</div>
                            {% endfor %}
                            <div class="content">
                                {% for icon in config.extra.social_icons %}
                                <a class="icon is-large fa-3x" href="{{icon.link | safe }}">
                                    <i class="has-text-{{ config.extra.style }} {{icon.icon_pack}} {{ icon.icon }}"></i>
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="column is-two-thirds-desktop markdown">
                        {% for page in section.pages %}
                        {% if page.relative_path == "about.md" %}
                        {{ page.content | safe }}
                        {% endif %}
                        {% endfor %}
                        <div class="columns">
                            <div class="column is-one-half content">
                                <h4>Interests</h4>
                                <ul>
                                    {% for interest in config.extra.interests %}
                                    {% if interest.link %}
                                    <li><a href="{{ interest.link }}">{{ interest.label }}</a></li>
                                    {% else %}
                                    <li>{{ interest.label }}</li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="column is-one-half">
                                <h4>Education</h4>
                                {% for education in config.extra.education %}
                                <div class="media">
                                    <div class="media-left">
                                        <span class="icon">
                                            <i class="fas fa-graduation-cap"></i>
                                        </span>
                                    </div>
                                    <div class="media-content">
                                        <p>{{ education.course }}, {{ education.year }}</p>
                                        <p class="has-text-grey">{{ education.institution }}</p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
