{% extends "base.html" %}
{% import "macros.html" as macros %}
{% block content %}

{% if section.extra.image.style == "banner" %}
<section class="hero">
    <figure class="image">
        <img src="{{ config.base_url ~ section.extra.image.path }}"</img>
    </figure>
</section>
<section class="section">
    <div class="container">
        <div class="columns is-desktop">
            <div class="column is-10 is-offset-1">
                <div class="content">
                    {{ macros::publication_header(publication=section) }}
                </div>
            </div>
        </div>
    </div>
</section>
{% elif section.extra.image.style == "figure" %}
<div class="columns">
    <div class="column is-offset-1 is-10">
        <div class="columns">
            <div class="column is-one-half content">
                {{ macros::publication_header(publication=section) }}
            </div>
            <div class="column is-one-half">
                <figure>
                    <img src="{{ config.base_url ~ section.extra.image.path }}">
                </figure>
            </div>
        </div>
    </div>
</div>
{% endif %}

<section class="section">
    <div class="container">
        <div class="content">
            <div class="has-text-justified">
                <h3>Abstract</h3>
                {{ section.extra.abstract }}
            </div>
            {{ section.content | safe }}
        </div>
    </div>
</section>
{% endblock content %}
